    <!------ Footer-Section ------>
    <footer class="footer">
        <div class="bar">
            <div class="skew-bar">
                <div class="blue-bar"></div>
                <div class="red-bar">
                </div>
            </div>
            <div class="text">
                <div class="t">Call Us Now</div>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="number">+88017215454515  </div>
            </div>
        </div>
        <div class="body">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="f-contant">
                            <div class="logo">

                            </div>
                            <div class="text py-3">
                                This concise description highlights the fact that your company offers top-notch IT infrastructure solutions that are designed to grow with your business needs.
                            </div>
                            <!-- <div class="icon-grp ">
                                <a href="#"> <i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="f-contant" >
                            <h4>Contact Us</h4>
                            <div class="item pt-3" style="display:flex">
                                <div class="icon">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="item  px-2">
                                    <a href="tel:+8801721545415">+880 1721 54 54 15</a>
                                </div>
                            </div>


                            <div class="item pt-2" style="display:flex"> 
                                <div class="icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="text px-2 ">
                                    <a href="mailto:exeyezoneltd@gmail.com">exeyezoneltd@gmail.com</a>
                                </div>
                            </div>
                            <div class="item pt-2" style="display:flex">
                                <div class="icon">
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                </div>
                                <div class="text px-2">
                                    MS Club lane, Malotinagar, Bogura Sadar, Bogura
                                </div>
                            </div>
                            {% comment %} <div class="item pt-2" style="display:flex">
                                <div class="icon">
                                    <i class="fa fa-clock" aria-hidden="true"></i>
                                </div>
                                <div class="text px-2">
                                    Sun-Thursday
                                    <br />
                                    09:00 AM - 05:00 PM
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="f-contant">
                            <h4>Explore</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Hire Us</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>


                      
                </div>
            </div>
        </div>
        <div class="copy-bar py-2">
            Copyrights &copy; 2024 <a href="https://www.exeyezone.com">exeyezone</a>  Limited.
        </div>
    </footer>

  