{% extends "base.html" %}
{% load static %}


{% block content %}



    <section class="poular-service-section" id="proServiceId" >

        <header>
            <div class="common-text pt-4 mt-5">
                <h3>Popular <span class="span-red">Services</span></h3>
                <p class="good-desc">Our team members are comprised of passionate professionals dedicated to turning your visions into reality. With expertise ranging from web development to graphic design, our collaborative approach ensures innovative solutions tailored to your needs.           </p>
            </div>

        </header>

        <button class="theme-toggle">
            <span class="mdi mdi-brightness-7 mdi-spin mdi-18px"></span>
          </button>
          

          {% for proService in proService %}

          <div class="card-pro-service">
                <img src="{{ proService.images1.url }}" alt="{{proService.title}}" >
            <div class="pro-service-content">
            <h2 class="card__title">{{proService.title}}</h2>

            <div class="row">
                <div class="col-md-6">
                    <span class="card__description_left"><i class="fa fa-star" aria-hidden="true" style="color: red; font-size: 1.5rem; padding-right: 5px; margin-top: 1px;"></i>{{ proService.rating }}</span>
                </div>

                <div class="col-md-6">
                    <span class="card__description"><b>{{proService.deliveryTime}} Days </b>Delivery</span>

                </div>
            </div>

            <hr>
            <div class="card__shop">
              <span class="card__shop__price">Starting at <span style="font-size: 1.2rem; font-family: 'montserrat';"><strong>{{proService.price}}$</strong> </span></span>

              <button class="btn btn-danger" style="border-radius: 0;">
                <a href="{% url 'proServices' proService.id %}" style="text-decoration: none;">SEE DETAILS</a>
              </button>
            </div>
        </div>

        {% endfor %}


          </div>



        
          
    </section>



    



{% endblock content %}
